<div class="panel panel-default">
    <div class="panel-body">

        <div class="btn-group" role="group">
            <a class="btn btn-default" data-ng-repeat="menuItem in vm.list" ui-sref="{{menuItem.sref}}" ui-sref-active="btn-success">{{menuItem.text}}</a>
        </div>

    </div>
</div>

<shopping-cart-component></shopping-cart-component>

<ui-view></ui-view>
